set nocompatible
filetype off

set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()

Plugin 'VundleVim/Vundle.vim'

Plugin 'fatih/vim-go'

call vundle#end()
filetype plugin indent on

syntax on

au BufRead,BufNewFile *.go set filetype=go

let g:go_fmt_command = 'goimports'

set tabstop=4
set nu
